.url_form input {
    height: 50px;
    border-radius: 6px;
}

.url_form .url_form__input {
    padding-right: 0;
}

@media (max-width: 576px) {
    .url_form .url_form__input {
        padding-right: 15px;
    }
    .url_form .url_form__button {
        text-align: center;
    }
}
