<template>
    <form @submit.prevent="submitHandler" class="url_form">
        <div class="row justify-content-center">
            <div class="col-xs-10 col-sm-10 col-md-10 url_form__input">
                <slot></slot>
                <input
                    class="form-control mb-2"
                    type="text"
                    placeholder="Paste long url and shorten it"
                    autocomplete="off"
                    v-model="url"
                >
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 url_form__button">
                <input type="submit" class="btn btn-primary" value="Shorten">
            </div>
        </div>
    </form>
</template>

<script>
    import errors from "../errors";

    export default {
        data() {
            return {
                url: '',
            }
        },
        computed: {
            isValidUrl() {
                return window.validate({ website: this.url }, { website: { url: { allowLocal: true } }}) === undefined;
            },
            hostname() {
                const matches = this.url.match(/^https?:\/\/([^\/?#]+)(?:[\/?#]|$)/i);
                return matches && matches[1];
            },
        },
        methods: {
            submitHandler() {
                this.validate()
                    .then(() => this.generateLink())
                    .catch((err) => this.url = err);
            },
            generateLink() {
                window.axios.post('/api/generate-link', { long: this.url, active: true })
                    .then(response => {
                        const { short } = response.data.data;
                        this.url = short ? short : 'Error';
                    })
            },
            validate() {
                return new Promise(((resolve, reject) => {
                    if (!this.isValidUrl) {
                        reject(errors.incorrectUrl);
                    }

                    if (this.hostname === window.location.hostname) {
                        reject(errors.alreadyInUse);
                    }

                    resolve();
                }));
            }
        }
    }
</script>
